<template>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col s6 offset-s3">
          <div class="auth">
            <div class="title">
              <h4>Авторизация</h4>
            </div>
            <div class="input-field col s10 offset-s1">
              <input id="email" type="email" class="validate" v-model="email">
              <label for="email">Email</label>
              <span class="helper-text" data-error="wrong" data-success="right">Введите email</span>
            </div>
            <div class="input-field col s10 offset-s1">
              <input id="password" type="password" class="validate" v-model="password">
              <label for="password">Пароль</label>
              <span class="helper-text">Введите пароль</span>
            </div>
            <div class="center">
              <button class="btn waves-effect waves-light" @click="login">Войти
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Auth",
    data:() => ({
      email: '',
      password: ''
    }),
    methods: {
      login() {
        this.$router.push('/')
      }
    }
  }
</script>

<style scoped lang="scss">
.main {
  background-color: #999999;
  height: 100vh;

  .auth {
    background-color: white;
    margin-top: 150px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    .title {
      margin: 0;
      h4 {
        font-size: 26px;
        text-align: center;
        margin: 0;
        padding: 20px 0 10px 0;
      }
    }

    button {
      margin: 5px 0 25px 0;
    }
  }
}
</style>
